Package: com.clashcross.clashcross
Version: 1.0.1
Architecture: amd64 
Section: Network
Maintainer: ClashCross
Depends: libayatana-appindicator3-1
Priority: optional
Homepage: https://www.clashcross.com
Description: A Clash Proxy Fronted based on Clash
