Package: com.clashcross.clashcross
Version: 1.0.3
Architecture: amd64 
Section: Network
Maintainer: ClashCross
Build-Depends:libappindicator3-dev
Priority: optional
Homepage: https://www.clashcross.com
Description: A Clash Proxy Fronted based on Clash
