[Desktop Entry]
Name=ClashCross
Comment=A Clash Proxy Frontend.
Exec=clashcross
Icon=${SNAP}/meta/gui/app_icon.png
Terminal=false
Type=Application
Categories=Network;
